header{
    width: 100%;
    /* height: 80px; */
    background-color:#30a9b9;
    margin-top: 0%;
    height: 80px;
}
#logo{
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    /* top:15px; */
    width: 150px;
    height: 60px;
    padding-top: 10px;
    
}

nav{
    
    display: flex;
    margin-left: 400px;
    /* margin-top: 20px; */
    font-size: 2em;
    flex-wrap: wrap;

}

header a{
    color: rgb(26, 18, 97);
    font-weight: 2em;
    margin-right: 60px;
    padding: 20px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    outline: none;

}

header a:hover{
    color: rgb(202, 202, 91);
}

#logout_btn{
    font-size: 0.8em;
    padding: 5px 16px;
    border: 2px solid rgba(228, 225, 86, 0.774);
    border-radius: 25px;
    margin-left: 300px;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    cursor: pointer;
}
#upper_body{
    /* display: inline; */
    margin-bottom: 10%;
}


#data{
    position:relative;
    background-color: rgb(255, 243, 218) ;
    margin-left: 5%;
    margin-right: 50%;
    border-radius: 25px;
    margin-bottom: 50px;
}
h1{
    text-align: center;
}
#heading{
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    /* margin: 25px 25px; */
    margin-left: 50px;
    margin-top: 50px;
    /* padding: 50px; */
    font-size: 0.9em;
    font-family: sans-serif;
     width: 350px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
 }
 
 .styled-table thead tr {
    /* background-color: #009879; */
    color: #000000;
    text-align: left;
 }
 .styled-table th{
    padding: 10px 51px;
 }
 .styled-table td {
     padding: 20px 46.25px;
     text-align: center;
 }




#profile{
    margin: 20%;
    margin-top: -35%;
    margin-left: 80%;
    margin-right: 2%;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;


}

#profile p{
    padding-top: 10%;
    padding-bottom: 15%;
    padding-left: 35%;
    padding-right: 12%;
}

#avatar_logo{
    height: 80px;
    padding-left: 36%;
    margin-top: 20%;
    margin-left: 2%;
 }

#data2
{
    /* width: 50%; */
    margin-left: 2%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;  


}


#data2 .styled-table{
    margin-top: 0%;
}


#head_tb{
    width: auto;
}

#data2 thead th {
   border: 1px solid black;
}
#data2 tbody td {
    border: 1px solid black;
 }


#data2_th {
    background-color: red;
}


#space
{
    background-color: rgb(218, 128, 226);
    width: 20%;
    padding: 2%;
    margin-left: 5%;
    margin-top: 20%;
    border-radius: 25px;
    margin-bottom: 2%;
}

#Submit{
    margin-top: 25px;
    border-radius: 10px;
    padding: 2% 5%;
}

#Submit:hover{
    background-color: orange;
    border: 3px solid black;
}

