/* 
#main_sec{
    margin: 0 10%;
    border: 3px solid white;
    border-radius: 25px;
    
} */
#bg_reg{
    width:100%;
    height: 1000px;    
    background-size: cover;
}
#register_form
{
position: absolute;
color:#5f155f;
font-family: 'Roboto Condensed', sans-serif;
font-size: 1.25em;
opacity: 90%;
border: 5px solid black;
padding: 20px;
margin-left: 450px;
margin-top: 10px;
border-radius: 25px;
height:127%;
/* background-image: url("https://images.unsplash.com/photo-1554224155-1696413565d3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"); */
/* background-size: cover; */
}
/* #main_sec{
    background-color: steelblue;
} */

#button_submit{
margin-right: 50px;
padding: 10px 20px;
}
#button_reset{
    padding: 10px 20px;
    
}

.form_button{
    border: 3px solid black;
    border-radius: 25px;
}

.form_button:hover{
    background-color: wheat;
}

#form{
    height: 0.8em;
}